@import url('https://fonts.googleapis.com/css2?family=Alice&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Noto Sans", sans-serif;
}
.container{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.w50{
    width: 50%;

}

.w70{
    width: 70%;

}

.w25{
    width: 25%;
}
.w100{
    width: 100%;
}

.w48{
    width: 48%;
}

.top20{
    margin-top: 20px;
}

.top35{
    margin-top: 35px;
}

.flex{
    display: flex;
    flex-wrap: wrap;
}

.spaceBetween{
justify-content: space-between;
}

.alignCenter{
    align-items: center;

}

h1 , h2, h3{
    font-family: "Alice", serif;
}

h1{
    font-size: 60px;
    margin: 15px 0px;
}

p{
    font-family: "Noto Sans", sans-serif;
}

.bgRed{
    background-color: violet;
}

.pucesNone{
    list-style: none;
}

a{
    text-decoration: none;
}

.black{
    color: black;
}

.white{
    color: white;
}

.black:hover{
    color: #4D3E9A;
}
/* header*/

header{
    padding: 10px 0px;
    background-color:rgba(222, 222, 222, 0.25);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    backdrop-filter: blur(6px);
    z-index: 3;
}

header>nav{
    margin: auto;
}

.logo{
    width: 100px;
}

/*hero section*/

.sectionHero{
    height: 100vh;
    position: relative;
}

.bgHero{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.divHero{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;

}

.divHero>p{
    font-size: 25px;
}

/*Section services*/

.carteViolette{
    background-color: #4d3e9a69;
    display: block;
    width: 23%;
    padding: 40px 0px;
    text-align: center;
    border-radius: 15px;
    backdrop-filter: blur(6px);
    
}

.sectionServices{
    position: relative;
    top: -55px;
}

.pGauche{
    background-color: #4336876c;
    backdrop-filter: blur(6px);
    position: relative;
    top: -20px;
}

.padding{
    padding: 15px 5px;
}

.pDroite{
    border-radius: 10px;
    padding: 15px 5px;
    position: static;
}